* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    width: 100vw;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    background: #393838;
    color: #fff;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.brand {
    font-size: 1.2rem;
    font-weight: bold;
}

.btn {
    border-radius: 5px;
    border: 2px solid rgb(171, 168, 168);
}

.menubar {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

.menubar a {
    text-decoration: none;
}

.menubar a span {
    color: #121111;
    font-size: 0.8em;
    font-weight: bold;
}

.menubar a span:hover {
    color: blue;
}

/* hamburger */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: 0.3s;
}

/* Collapsible Content */
.collapse {
    max-height: 0vh;
    overflow: hidden;
    background: #f4f4f4;
    transition: max-height 0.4s ease;
    padding: 0 1rem;
}

.collapse.show {
    max-height: 50px;
    padding: 0.8rem;

}

/* hero section */
section {
    padding: 4rem 1rem;
    max-width: 80vw;
    margin: auto;

}

h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #00bcd4;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: #212222;
    color: #fff;
}

.hero h2 {
    color: #fff;
    font-size: 2.2rem;
}

.hero p {
    margin: 20px 0;
    font-size: 1.1rem;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #fff;
    color: #00bcd4;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background: #333;
    color: #fff;
}

/* About Page */
section {
    max-width: 80vw;
    margin: auto;
    border-radius: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #111111;
    justify-content: center;
    font-weight: bold;
}

.about {
    text-align: center;
    padding: 6em 3em;
    color: #040404;
}

.about p {
    font-size: 1rem;
}

/* Skills page */
.bgskills {
    width: 80vw;
    background: #393838;
    border-radius: 20px;
}

.bgskills h2 {
    color: #fff;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.card img {
    max-width:250px;
    height: 20vh;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* projects page */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* contact page */
.contact{
    background: #212222;
}
.contact h2{
    color: white;
}
.contact form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    
}

.contact input,
.contact textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    background: #00bcd4;
    color: #fff;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
}

.contact button:hover {
    background: #333;
}
/* footer page */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    transition: background 0.3s, color 0.3s;
}